In [1]:
import pandas as pd

In [11]:
file='C:/Users/patel/Downloads/YoutubeCSV.csv'

In [12]:
import chardet
with open(file, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}

In [13]:
df=pd.read_csv(file, encoding ='Windows-1252')

In [15]:
df.head()

,Video Link,Video Views,Video Title,Channel URL,Creator Name,Creator Gender,Total Channel Subcribers,Total Chanel Views,Duration of Video,Duration in Seconds,...,Video Description,Hashtags,No of Comments,Date of the Last Comment,Maximum Quality of the Video,No of Videos the Channel,No of Playlist,Premiered or Not,Community Engagement (Posts per week),Intern Who Collected the Data
0,https://www.youtube.com/watch?v=_0fUOJ55gis,"146,059",Samse - Didupe Off-road Royal Enfield Himalayan,https://www.youtube.com/c/sriharick,srihari ck,Male,40200,7964284,00:30:41,"1,841.00",...,Yes,0,419,8/6/2022,1080,462,12.0,No,1,Akhil Teja
1,https://www.youtube.com/watch?v=_70MSLPRfZI,"231,969",Bhoom Baddhal Web Series,https://www.youtube.com/c/ChaibisketTelugu,Chai Bisket,Male,920000,137535681,00:14:24,864.00,...,Yes,1,189,6/15/2022,1080,251,12.0,Yes,2,Akhil Teja
2,https://www.youtube.com/watch?v=_8gfCdt3H00&t=87s,878,"Customer Psychology, Four Views Of Consumer De...",https://www.youtube.com/channel/UCcIUnCsBfONvb...,Virda Warsi,Female,458,72945,0:08:12,492.00,...,Yes,0,0,NaN,720,158,0.0,No,0,Syed safdar
3,https://www.youtube.com/watch?v=_CkFNJgKsFs,"9,965",Top countries with proven natural gas reserves,https://www.youtube.com/c/trtworld,TRT,NaN,1680000,541653219,0:01:06,66.00,...,Yes,0,77,9/22/2022,1080,46509,48.0,No,20,Syed safdar
4,https://www.youtube.com/watch?v=_GFkHA5EZdE,"39,780,561",73 Questions With Selena Gomez,Vogue - YouTube,Vogue,NaN,12100000,3600496171,0:07:40,460.00,...,Yes,0,28221,9/23/2022,1080,2872,113.0,No,1,Rahul Singh

In [16]:
df.isnull().values.any()

True

In [41]:
df['Creator Name'].isnull().sum()

11

In [42]:
#dropping all rows with NaN values
df=df.dropna()

In [43]:
df['Creator Name'].isnull().sum()

0

In [54]:
df.head()

,Video Views,Video Title,Creator Gender,Total Channel Subcribers,Total Chanel Views,Date of Video Upload,No of Likes,Language of the Video,Video Description,Hashtags,No of Comments,Maximum Quality of the Video,No of Videos the Channel,No of Playlist,Premiered or Not,Community Engagement (Posts per week)
0,"146,059",Samse - Didupe Off-road Royal Enfield Himalayan,Male,40200,7964284,7/29/2022,6700.0,Kannada,Yes,0,419,1080,462,12.0,No,1
1,"231,969",Bhoom Baddhal Web Series,Male,920000,137535681,5/22/2022,7800.0,Telugu,Yes,1,189,1080,251,12.0,Yes,2
5,"257,334",HERO - Baananchige Oduva Baara,Male,382000,154898226,3/24/2021,8300.0,Kannada,Yes,1,387,2160,94,14.0,No,0
10,"5,599,742",ROUNDER GLUTES: 5 Mistakes Keeping Your Butt Flat,Male,4690000,511124108,03-07-2022,70000.0,English,Yes,0,1558,1080,216,8.0,No,0
11,"25,052",The BEST Mockups You Will Find Online!,Male,999000,58048539,8/24/2022,1400.0,English,Yes,0,70,1080,918,76.0,No,2

In [56]:
len(df.columns)

16

In [ ]:
#Drop the columns which are irrelevant features to feed into our model.
df.drop(df.columns[[0, 3, 4, 8, 9, 13]], axis=1)

In [59]:
 #Some columns are not statistical data but in the form of strings. It Is difficult for our model to learn when the data is in form of strings. Your task is to encode these strings using proper encoding techniques.
pd.get_dummies(df['Creator Gender'])

     Company  Female  Male
0          0       0     1
1          0       0     1
5          0       0     1
10         0       0     1
11         0       0     1
..       ...     ...   ...
892        0       0     1
893        0       0     1
894        0       1     0
895        0       1     0
896        0       1     0

[563 rows x 3 columns]

In [60]:
df = pd.concat([df, pd.get_dummies(df['Creator Gender'])], axis=1)

In [61]:
df.head()

,Video Views,Video Title,Creator Gender,Total Channel Subcribers,Total Chanel Views,Date of Video Upload,No of Likes,Language of the Video,Video Description,Hashtags,No of Comments,Maximum Quality of the Video,No of Videos the Channel,No of Playlist,Premiered or Not,Community Engagement (Posts per week),Company,Female,Male
0,"146,059",Samse - Didupe Off-road Royal Enfield Himalayan,Male,40200,7964284,7/29/2022,6700.0,Kannada,Yes,0,419,1080,462,12.0,No,1,0,0,1
1,"231,969",Bhoom Baddhal Web Series,Male,920000,137535681,5/22/2022,7800.0,Telugu,Yes,1,189,1080,251,12.0,Yes,2,0,0,1
5,"257,334",HERO - Baananchige Oduva Baara,Male,382000,154898226,3/24/2021,8300.0,Kannada,Yes,1,387,2160,94,14.0,No,0,0,0,1
10,"5,599,742",ROUNDER GLUTES: 5 Mistakes Keeping Your Butt Flat,Male,4690000,511124108,03-07-2022,70000.0,English,Yes,0,1558,1080,216,8.0,No,0,0,0,1
11,"25,052",The BEST Mockups You Will Find Online!,Male,999000,58048539,8/24/2022,1400.0,English,Yes,0,70,1080,918,76.0,No,2,0,0,1

In [62]:
pd.get_dummies(df['Language of the Video'])

,English,English + Hindi,Hindi,Hindi/English,Italian,Japenese,Kannada,Konkani,Malayalam,Mongalian,Sanskrit,Tamil,Telugu
0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,1
5,0,0,0,0,0,0,1,0,0,0,0,0,0
10,1,0,0,0,0,0,0,0,0,0,0,0,0
11,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
892,0,0,0,0,0,0,0,1,0,0,0,0,0
893,0,0,0,0,0,0,0,1,0,0,0,0,0
894,0,0,0,0,0,0,1,0,0,0,0,0,0
895,0,0,0,0,0,0,1,0,0,0,0,0,0
896,0,0,0,0,0,0,1,0,0,0,0,0,0

In [63]:
df = pd.concat([df, pd.get_dummies(df['Language of the Video'])], axis=1)

In [64]:
df = pd.concat([df, pd.get_dummies(df['Video Description'])], axis=1)

In [65]:
pd.get_dummies(df['Video Description'])

     NO  No  Yes
0     0   0    1
1     0   0    1
5     0   0    1
10    0   0    1
11    0   0    1
..   ..  ..  ...
892   0   0    1
893   0   0    1
894   0   0    1
895   0   0    1
896   0   0    1

[563 rows x 3 columns]

In [66]:
pd.get_dummies(df['Hashtags'])

     0   1   2   3   4   5   6   8   9   10  11
0     1   0   0   0   0   0   0   0   0   0   0
1     0   1   0   0   0   0   0   0   0   0   0
5     0   1   0   0   0   0   0   0   0   0   0
10    1   0   0   0   0   0   0   0   0   0   0
11    1   0   0   0   0   0   0   0   0   0   0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
892   1   0   0   0   0   0   0   0   0   0   0
893   1   0   0   0   0   0   0   0   0   0   0
894   1   0   0   0   0   0   0   0   0   0   0
895   0   0   0   1   0   0   0   0   0   0   0
896   0   0   1   0   0   0   0   0   0   0   0

[563 rows x 11 columns]

In [67]:
pd.get_dummies(df['Premiered or Not'])

     No  Yes
0     1    0
1     0    1
5     1    0
10    1    0
11    1    0
..   ..  ...
892   1    0
893   1    0
894   0    1
895   0    1
896   0    1

[563 rows x 2 columns]

In [68]:
df = pd.concat([df, pd.get_dummies(df['Premiered or Not'])], axis=1)

In [69]:
df.drop(df.columns[[2,7,8,14]], axis=1)

,Video Views,Video Title,Total Channel Subcribers,Total Chanel Views,Date of Video Upload,No of Likes,Hashtags,No of Comments,Maximum Quality of the Video,No of Videos the Channel,...,Malayalam,Mongalian,Sanskrit,Tamil,Telugu,NO,No,Yes,No,Yes
0,"146,059",Samse - Didupe Off-road Royal Enfield Himalayan,40200,7964284,7/29/2022,6700.0,0,419,1080,462,...,0,0,0,0,0,0,0,1,1,0
1,"231,969",Bhoom Baddhal Web Series,920000,137535681,5/22/2022,7800.0,1,189,1080,251,...,0,0,0,0,1,0,0,1,0,1
5,"257,334",HERO - Baananchige Oduva Baara,382000,154898226,3/24/2021,8300.0,1,387,2160,94,...,0,0,0,0,0,0,0,1,1,0
10,"5,599,742",ROUNDER GLUTES: 5 Mistakes Keeping Your Butt Flat,4690000,511124108,03-07-2022,70000.0,0,1558,1080,216,...,0,0,0,0,0,0,0,1,1,0
11,"25,052",The BEST Mockups You Will Find Online!,999000,58048539,8/24/2022,1400.0,0,70,1080,918,...,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
892,"75,789",Tuzo Mog Maka Zala by Prajoth D'sa (Official L...,8560,764691,4/23/2020,855.0,0,29,1080,27,...,0,0,0,0,0,0,0,1,1,0
893,"1,640",NAACH [Konkani EDM] by Prajoth D'sa & Rosh Fer...,8560,764691,9/11/2022,159.0,0,59,1080,27,...,0,0,0,0,0,0,0,1,1,0
894,"491,854",Tunturu Alli Neera Haadu | Ankita Kundu | Cove...,84900,11663152,11/14/2020,14000.0,0,495,1080,48,...,0,0,0,0,0,0,0,1,0,1
895,"268,142",O Meghave - (Cover) By Ankita Kundu,84900,11663152,3/20/2021,7300.0,3,325,1080,48,...,0,0,0,0,0,0,0,1,0,1
896,"1,378,946",EE Sundara Beladingala | Cover | Ankita Kundu,84900,11663152,12/19/2020,35000.0,2,824,1080,48,...,0,0,0,0,0,0,0,1,0,1

In [70]:
df.columns.get_loc("Company")

16

In [72]:
df.columns.get_loc("NO")

32

In [74]:
df.drop(df.columns[[16,32]], axis=1)

,Video Views,Video Title,Creator Gender,Total Channel Subcribers,Total Chanel Views,Date of Video Upload,No of Likes,Language of the Video,Video Description,Hashtags,...,Konkani,Malayalam,Mongalian,Sanskrit,Tamil,Telugu,No,Yes,No,Yes
0,"146,059",Samse - Didupe Off-road Royal Enfield Himalayan,Male,40200,7964284,7/29/2022,6700.0,Kannada,Yes,0,...,0,0,0,0,0,0,0,1,1,0
1,"231,969",Bhoom Baddhal Web Series,Male,920000,137535681,5/22/2022,7800.0,Telugu,Yes,1,...,0,0,0,0,0,1,0,1,0,1
5,"257,334",HERO - Baananchige Oduva Baara,Male,382000,154898226,3/24/2021,8300.0,Kannada,Yes,1,...,0,0,0,0,0,0,0,1,1,0
10,"5,599,742",ROUNDER GLUTES: 5 Mistakes Keeping Your Butt Flat,Male,4690000,511124108,03-07-2022,70000.0,English,Yes,0,...,0,0,0,0,0,0,0,1,1,0
11,"25,052",The BEST Mockups You Will Find Online!,Male,999000,58048539,8/24/2022,1400.0,English,Yes,0,...,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
892,"75,789",Tuzo Mog Maka Zala by Prajoth D'sa (Official L...,Male,8560,764691,4/23/2020,855.0,Konkani,Yes,0,...,1,0,0,0,0,0,0,1,1,0
893,"1,640",NAACH [Konkani EDM] by Prajoth D'sa & Rosh Fer...,Male,8560,764691,9/11/2022,159.0,Konkani,Yes,0,...,1,0,0,0,0,0,0,1,1,0
894,"491,854",Tunturu Alli Neera Haadu | Ankita Kundu | Cove...,Female,84900,11663152,11/14/2020,14000.0,Kannada,Yes,0,...,0,0,0,0,0,0,0,1,0,1
895,"268,142",O Meghave - (Cover) By Ankita Kundu,Female,84900,11663152,3/20/2021,7300.0,Kannada,Yes,3,...,0,0,0,0,0,0,0,1,0,1
896,"1,378,946",EE Sundara Beladingala | Cover | Ankita Kundu,Female,84900,11663152,12/19/2020,35000.0,Kannada,Yes,2,...,0,0,0,0,0,0,0,1,0,1

In [75]:
df.columns.get_loc("Konkani")

26

In [76]:
df.drop(df.columns[[26,27,28,29,30,31]], axis=1)

,Video Views,Video Title,Creator Gender,Total Channel Subcribers,Total Chanel Views,Date of Video Upload,No of Likes,Language of the Video,Video Description,Hashtags,...,Hindi,Hindi/English,Italian,Japenese,Kannada,NO,No,Yes,No,Yes
0,"146,059",Samse - Didupe Off-road Royal Enfield Himalayan,Male,40200,7964284,7/29/2022,6700.0,Kannada,Yes,0,...,0,0,0,0,1,0,0,1,1,0
1,"231,969",Bhoom Baddhal Web Series,Male,920000,137535681,5/22/2022,7800.0,Telugu,Yes,1,...,0,0,0,0,0,0,0,1,0,1
5,"257,334",HERO - Baananchige Oduva Baara,Male,382000,154898226,3/24/2021,8300.0,Kannada,Yes,1,...,0,0,0,0,1,0,0,1,1,0
10,"5,599,742",ROUNDER GLUTES: 5 Mistakes Keeping Your Butt Flat,Male,4690000,511124108,03-07-2022,70000.0,English,Yes,0,...,0,0,0,0,0,0,0,1,1,0
11,"25,052",The BEST Mockups You Will Find Online!,Male,999000,58048539,8/24/2022,1400.0,English,Yes,0,...,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
892,"75,789",Tuzo Mog Maka Zala by Prajoth D'sa (Official L...,Male,8560,764691,4/23/2020,855.0,Konkani,Yes,0,...,0,0,0,0,0,0,0,1,1,0
893,"1,640",NAACH [Konkani EDM] by Prajoth D'sa & Rosh Fer...,Male,8560,764691,9/11/2022,159.0,Konkani,Yes,0,...,0,0,0,0,0,0,0,1,1,0
894,"491,854",Tunturu Alli Neera Haadu | Ankita Kundu | Cove...,Female,84900,11663152,11/14/2020,14000.0,Kannada,Yes,0,...,0,0,0,0,1,0,0,1,0,1
895,"268,142",O Meghave - (Cover) By Ankita Kundu,Female,84900,11663152,3/20/2021,7300.0,Kannada,Yes,3,...,0,0,0,0,1,0,0,1,0,1
896,"1,378,946",EE Sundara Beladingala | Cover | Ankita Kundu,Female,84900,11663152,12/19/2020,35000.0,Kannada,Yes,2,...,0,0,0,0,1,0,0,1,0,1